.month-item {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    display: inline-block;
    width: 75px;
    height: 65px;
    margin-right: 15px;
}

.month-item--selected {
    border-width: 2px;
}

.month-item__month-text {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.month-item__year-text {
    font-size: 10px;
    text-transform: uppercase;
}