<div class="month-item" [ngClass]="{'month-item--selected': isSelected}" (click)="onSelect()">
    <div class="month-item__month-text">
        {{monthYear.month.text}}
    </div>
    <div class="month-item__year-text">
        {{monthYear.year}}
    </div>
</div>