.transaction-row {
    display: flex;
    font-size: 10px;
}

.transaction-row__date {
    flex-grow: 2;

}

.transaction-row__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    flex-grow: 2;

}
.transaction-row__amount {
    width: var(--ion-width-1);
    text-align: center;
}