<div class="transaction-row">
    <div class="transaction-row__date">
            {{transaction?.date | date: 'M/d'}}
    </div>
    <div class="transaction-row__name transaction-handle">
        <div>{{transaction?.name}} </div>
        <sub>{{transaction?.note}}</sub>
    </div>
    <div class="transaction-row__amount transaction-handle">{{-transaction?.amount | currency}}</div>
    <div class="transaction-row__amount">&nbsp;</div>
</div>