.transaction-bubble {
    border: 2px solid gainsboro;
    border-radius: 60px;
    display: inline-block;
    height: 120px;
    width: 120px;
    margin-right: 10px;
    text-align: center;
    padding-top: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    background: white;
}

.transaction-bubble--possible-duplicate {
    border-color: orange;
}

.transaction-bubble__possible-duplicate-text {
    font-size: 8px;
}

transaction-bubble:last-child {
    margin-right: 100px;
}

.transaction-bubble__amount {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: chocolate;
}
.transaction-bubble__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}
.transaction-bubble__note {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}

.transaction-bubble__date {
    font-size: 12px;
}