<div class="transaction-bubble" [ngClass]="{'transaction-bubble--possible-duplicate': transaction.possibleDuplicate}" (dblclick)="presentPopover($event)">
    <div class="transaction-bubble__amount transaction-handle">{{-transaction.amount | currency}}</div>
    <div class="transaction-bubble__name">{{transaction.name}}</div>
    <div class="transaction-bubble__note">{{transaction.note}}</div>
    <div class="transaction-bubble__date">{{transaction.date | date: 'M/d'}}</div>
    <div class="transaction-bubble__possible-duplicate-text" *ngIf="transaction.possibleDuplicate">POSSIBLE DUPLICATE</div>
</div>