<ion-card class="budget-item" >
    <!-- For some reason click events dont work on top level element, so had to put it here -->
    <ion-card-content  class="budget-item__content" (click)="OnTopRowClick.emit(null)">
        <div class="budget-item__top-level"  >
            <div class="budget-item__name">{{name}}</div>
            <div class="budget-item__remaining" [ngClass]="{'budget-item__remaining--negative': amountLeft < 0}" >{{amountLeft | currency}}</div>
            <div class="budget-item__budgeted" *ngIf="!isIncome">{{amount | currency}}</div>
        </div>
        <div class="budget-item__bottom-level"  [ngClass]="{'budget-item__bottom-level--add-padding': expanded}">
            <ng-content></ng-content>
        </div>
    </ion-card-content>
</ion-card>