.budget-item {
    background: white;

}

ion-card.budget-item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -8px;
}

.budget-item__content {
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.budget-item__top-level {
    display: flex;
}

.budget-item__bottom-level {
}

.budget-item__bottom-level--add-padding {
    padding-bottom: 50px;
}

.budget-item__bottom-level--no-padding {
    padding: 1px;
}

.budget-item__name {
    flex-grow: 2;
}

.budget-item__remaining {
    width: var(--ion-width-1);
    text-align: center;
    color: var(--green);
}

.budget-item__remaining--negative {
    color: var(--ion-color-danger);
}

.budget-item__budgeted {
    width: var(--ion-width-1);
    text-align: center;
    border-left: 1px solid gainsboro;
    
}