<ion-list no-padding no-margin>
    <ion-list-header>
      <ion-label class="fw700">Options</ion-label>
    </ion-list-header>

    <ion-item class="text-10" (click)="addNote()" *ngIf="availableOptions.addNote">
      <ion-icon name="add" color="primary"></ion-icon>
      <ion-label>Add Note</ion-label>
    </ion-item>
    <ion-item class="text-10" (click)="forgetTransaction()" *ngIf="availableOptions.forgetTransaction">
      <ion-icon name="trash" color="primary"></ion-icon>
      <ion-label>Forget Transaction</ion-label>
    </ion-item>
    <ion-item class="text-10" (click)="addBudgetItem()" *ngIf="availableOptions.addBudgetItem">
      <ion-icon name="add" color="primary"></ion-icon>
      <ion-label>Add Budget Item</ion-label>
    </ion-item>
    <ion-item class="text-10" (click)="deleteCategory()" *ngIf="availableOptions.deleteCategory">
      <ion-icon name="trash" color="primary"></ion-icon>
      <ion-label>Delete Category</ion-label>
    </ion-item>
    <ion-item class="text-10" (click)="editCategory()" *ngIf="availableOptions.editCategory">
      <ion-icon name="create" color="primary"></ion-icon>
      <ion-label>Edit Category</ion-label>
    </ion-item>
</ion-list>