<ion-header class="bb-header">
  <div class="bb-header__month-dropdown">
    <ion-button color="light" (click)="showMonthYearPicker = !showMonthYearPicker" [disabled]="showMonthYearPicker">{{FULL_MONTH_NAME[selectedMonthYear.month.text]}}</ion-button>
    <div class="bb-header__month-picker" *ngIf="showMonthYearPicker">
      <month-item *ngFor="let monthYear of selectableMonthYears" [monthYear]="monthYear" [isSelected]="isSelectedMonthYear(monthYear)" (select)="onSelectMonthYear($event)"></month-item>
    </div>
  </div>
  <div class="bb-header__total-income">
    <div class="bb-header__total-income-amount">{{totalIncome | currency}}</div>
    <div class="bb__sub-text">Total Income</div>
  </div>
  <div class="bb-header__other-amounts">
    <div class="bb-header__remaining">
      <div class="bb-header__remaining-amount" [ngClass]="{'bb-header__remaining-amount--negative': remainingAmount < 0 }">{{remainingAmount | currency}}</div>
      <div class="bb__sub-text">Remaining</div>
    </div>
    <div class="bb-header__left-to-budget">
      <div class="bb-header__left-to-budget-amount">{{leftToBudget | currency}}</div>
      <div class="bb__sub-text">Left To Budget</div>
    </div>
  </div>
</ion-header>

<ion-content class="bb-ion-content" [ngClass]="{'bb-ion-content--disable-scroll': disableScroll}">
  <div class="bb__relogin" *ngIf="bankReloginStatus.capitalOne || bankReloginStatus.simple">
      <button ion-button block (click)="getPlaidPublicToken()">Get Plaid Token</button>
      <br/>
      <br/>
      <span *ngIf="readyToLinkAccount">Ready to Link!</span>
      <button ion-button block (click)="link()">Link Your Bank Account</button>
      <div class="bb__relogin-required-text">
        <ion-icon name="nuclear"></ion-icon> Relogin required for {{bankReloginStatus.capitalOne ? 'Capital One' : 'Simple'}}
      </div>
      <!-- <ion-button [size]="'small'" color="light" (click)="showPublicTokenField = true">Click To Fix</ion-button>
      <div *ngIf="showPublicTokenField">
        <input class="bb__relogin-required-access-token-input" type="text" [(ngModel)]="bankAccessToken" placeholder="Access Token">
        <ion-button [size]="'small'" color="light" (click)="reconfigurePlaidAccount(bankAccessToken)">Retrieve Public Token</ion-button>
        <ion-button *ngIf="showReLink" [size]="'small'" color="light" (click)="link()">Re Link Bank</ion-button>
      </div> -->
    </div>
  <section class="bb-container">
    <ng-container *ngFor="let category of categories">
      <category [category]="category"
                (addLineItem)="openBudgetItemPrompt(category)"
                (deleteCategory)="deleteCategory(category)"
                (editCategory)="openCategoryPrompt(category)">
        <ng-container *ngFor="let item of category.items">
          <budget-item 
                       [name]="item.name"
                       [isIncome]="category.id === 'INCOME'"
                       [amount]="item.amount"
                       [transactions]="item.transactions"
                       [expanded]="item.expanded"
                       (click)="item.expanded = !item.expanded">
                  <div id="{{category.id + '+' + item.id}}" dragula="TRANSACTIONS"
                       [(dragulaModel)]="item.transactions">
                    <ng-container *ngIf="item.expanded;else dragulaTarget">
                      <transaction-row *ngFor="let transaction of getOrderedTransactions(item.transactions)"
                                       [transaction]="transaction"></transaction-row>
                    </ng-container>
                  </div>
                  <ng-template #dragulaTarget>
                    <div class="bb__transaction-dragula-target">&nbsp;</div>
                  </ng-template>
          </budget-item>
          <div class="bb__budget-item-buttons" [ngClass]="{'bb__budget-item-buttons--hidden': !item.expanded}">
              <ion-button [expand]="'full'" [size]="'small'" color="light" (click)="editBudgetItem(category, item)">Edit</ion-button>
              <ion-button [expand]="'full'" [size]="'small'" [color]="'danger'" (click)="deleteBudgetItem(category, item)">Delete</ion-button>
          </div>
        </ng-container>
      </category>
    </ng-container>
  
    <ion-button class="mt-3" color="primary" (click)="openCategoryPrompt()">Add Category</ion-button>
    <div class="bb__copy-budget">
      <ion-button class="mt-3" color="light" (click)="copyBudgetFromLastMonth()" *ngIf="categories.length === 1">Copy Budget From Last Month</ion-button>
    </div>
  </section>

    

    <ion-content [scrollX]="true" [scrollY]="false" class="bb__transaction-ion-content" *ngIf="showBubbles">
      <div id="TRANSACTION_BUBBLES" class="bb__transaction-bubbles-container" dragula="TRANSACTIONS" [(dragulaModel)]="transactions">
        <ng-container >
          <transaction-bubble *ngFor="let transaction of getOrderedTransactions(transactions)"
                              [transaction]="transaction"
                              (forgetTransaction)="forgetTransaction(transaction)"
                              (addNoteToTransaction)="openAddNotePrompt($event)">
          </transaction-bubble>
        </ng-container>
      </div>
    </ion-content>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="danger" (click)="showBubbles = !showBubbles">
        <span class="bb__new-transactions-btn">{{transactions?.length}}</span>
      </ion-fab-button>
      <ion-fab-list side="start"></ion-fab-list>
    </ion-fab>
</ion-content>

