
.bb-container {
  background: #F2F2F2;
  padding: 10px;
}
.bb-ion-content {
  --background: #F2F2F2;
}
.bb-ion-content--disable-scroll {
  --overflow: hidden;
}

.bb__relogin-required-text {

}

.bb__relogin-required-access-token-input {
  height: 30px;
  display: block;
}

ion-card {
  background: white;
}

.bb-header {
  position: relative;
  padding: 10px;
}

.bb-header__month-dropdown {
  width: 100%;
  text-align: center;
}

.bb-header__month-picker {
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bb-header__total-income {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 100px;
  text-align: center;
  font-size: 20px;
}

.bb-header__total-income-amount {
  color: var(--green);
}

.bb-header__other-amounts {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;

}
.bb-header__remaining {
  width: var(--ion-width-1);
  text-align: center;
}

.bb-header__remaining-amount {
  color: var(--green);
}

.bb-header__remaining-amount--negative {
  color: var(--ion-color-danger);
}

.bb-header__left-to-budget {
  width: var(--ion-width-1);
  text-align: center;

}

.bb__category-container {
  margin-bottom: 10px;
}

.bb__sub-text {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.bb__new-transactions-btn {
  font-size: 20px;
}


.bb__transaction-ion-content{
  position: fixed;
  bottom: -83vh;
  --background: transparent;
  --offset-top: 100px !important;
  ion-button {
    display: inline-block;
    height: 120px;
    width: 120px;
    margin-right: 10px;
  }
  ion-button:last-child {
    margin-right: 100px;
  }
}

.bb__transaction-bubbles-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}


.bb__transaction-dragula-target {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0;
}

.bb__budget-item-buttons {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 10px;
  top: -35px;
  position: relative;
  display: flex;
  width: 100%;
  ion-button {
    width: 50%;
  }
}

.bb__budget-item-buttons--hidden {
  display: none;
}
.bb__copy-budget{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

