<div class="category">
    <div class="category__row">
        <div class="category__name">
            {{category.name}}
            <span class="category__add" (click)="presentOptions()">
                <ion-icon name="more"></ion-icon>
            </span>
        </div>
        <div class="category__remaining" *ngIf="!isIncome">
            Remaining
        </div>
        <div class="category__budgeted" *ngIf="!isIncome">
            Budgeted
        </div>
    </div>
    <ng-content></ng-content>
</div>