.category {
    margin-bottom: 20px;
}

.category__row {
    display: flex;
    align-items: baseline;
}

.category__name {
    font-size: 18px;
    color: darkblue;
    flex-grow: 2;
}

.category__add {
    font-size: 25px;
    position: relative;
    top: 5px;
    color: var(--ion-color-dark, #36454f);
}

.bb__sub-heading {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.category__remaining {
    @extend .bb__sub-heading;
    width: var(--ion-width-1);
}

.category__budgeted {
    @extend .bb__sub-heading;
    width: var(--ion-width-1);
}